@model Entities.Concrete.Date
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

@using (Html.BeginForm("Add", "Date", FormMethod.Post))
{

    <div class="form-group">
        <form class="form-group">
            TC Kimlik
            @Html.DropDownListFor(p => p.PatientId, (List<SelectListItem>)ViewBag.PatientList, new { @class = "form-control" })
            @Html.ValidationMessageFor(p => p.PatientId, "", new { @class = "text-danger" })
            Ad Soyad
            <input id="new-event" type="text" class="form-control">
            Gün
            @Html.TextBoxFor(x => x.DateTim, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.DateTim, "", new { @class = "text-danger" })
            <br /><br />
            <button class="btn btn-primary">
                <i class="fas fa-save">
                </i>
                Kaydet
            </button>
        </form>
    </div>

}